*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: solid 1px rgb(94, 229, 234); */
}

html {
  font-size: 16px;
}

body {
  font-family: 'Helvetica', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(216, 197, 171);
  animation: fadein 1s;
  overflow-x: hidden;
  min-width: 320px;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
}

.intro__input {
  text-align: center;
  caret-color: rgb(216, 197, 171);
}

.intro__input:focus {
  outline: none;
}

.intro__input::placeholder {
  color: var(--placeholder-text-color, rgb(240, 220, 192));
  text-align: center;
}

.intro__input,
.intro__button {
  border: none;
  font: inherit;
  background-color: transparent;
  color: inherit;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  animation: fadein 1s;
}

.game__global {
  display: flex;
  align-items: center;
}

.game__global-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: 33.33%;
}

.game__user-name,
.game__clanker-name {
  padding: 2rem 0;
  flex: 1;
  text-align: center;
}

.game__round-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 4rem;
}

.game__user-choice,
.game__clanker-choice {
    width: 3ch;
    text-align: center;
}

.game__user-score,
.game__clanker-score {
    min-width: 1ch;
    text-align: center;
}

.game__choices {
  display: flex;
  flex: 1;
  width: 100%;
}

.game__choice {
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: clamp(2rem, 10vw, 8rem);
  color: inherit;
  flex: 1;
}

.game__footer {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__message {
  font-size: clamp(1rem, 3vw, 2rem);
  white-space: pre-line;
  text-align: center;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__choice:hover,
.intro__button:hover {
  color:rgb(196, 164, 122);
  transform: scale(1.05);
}

.game__choice,
.intro__button {
  cursor: pointer;
}

.hidden {
  display: none;
}